.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    background-color: #F5F5F5;
}

.fLists {
    padding: 20px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;

}

.fListItem:nth-child(1) {
    font-weight: bold;
}

.fList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fListItem {
    color: #003580;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}